/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

   html {
	color: #222;
	font-size: 1em;
	line-height: 1.4;
  }
  
  /*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Vendor-prefixed and regular ::selection selectors cannot be combined:
   * https://stackoverflow.com/a/16982510/7133471
   *
   * Customize the background color to match your design.
   */
  
  ::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
  }
  
  ::selection {
	background: #b3d4fc;
	text-shadow: none;
  }
  
  /*
   * A better looking default horizontal rule
   */
  
  hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
  }
  
  /*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */
  
  audio,
  canvas,
  iframe,
  img,
  svg,
  video {
	vertical-align: middle;
  }
  
  /*
   * Remove default fieldset styles.
   */
  
  fieldset {
	border: 0;
	margin: 0;
	padding: 0;
  }
  
  /*
   * Allow only vertical resizing of textareas.
   */
  
  textarea {
	resize: vertical;
  }
  
  /* ==========================================================================
	 Author's custom styles
	 ========================================================================== */
  
  html{
	color: #222;
	font-size: 1em;
	line-height: 1.4;
  }
  
  
  body {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	width: 100%;
	height: 100%;	
}
  
	 ul{
		
	 }
  
	 a{
  
	 }
  
	 h1 {
		font-family: 'ZCOOL Kuaile';
		color: white;
		font-size: 3rem;

	}

	h2{
		font-family: 'Fjalla One';
        color: white;
		font-size: 2rem;

	}

	h3{
		font-family: "sunflower";
		font-size: 1.5rem;
        color: white;

	}
  
	p {
  
	}
  
	img{

	}

	section {
		
	}

	/** color: #F23054 (red-pink)
		color: #151440 (dark indigo)
		color: #2D9AA6 (light blue)
		color: #F2CA7E (cream yellow)
		color: #F29979 (peach)
	**/
 
  /***INTRODUCTION & NAVIGATION***/
  
  
  header {
	/***background-color: darkblue;***/
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	background-image: url(../img/gradient.jpg); /**get feedback on background img**/
	background-position: center;
	background-size: cover;
	height: 900px;
	justify-content: center;
	align-items: center;
	width: 100%;

  }

  .intro-header h1 {
	font-family: 'ZCOOL Kuaile';
	background-color: none;
	font-size: 2.8rem;
	color: white;
	text-align: center;
	margin: 0 auto;
	text-transform: none;
	
  }

  #job{
	  font-size: 2.2rem;
	  margin: 0 0 10px 0;
	  text-transform: none;
	  text-decoration: none;
  }
  
  header a {
	background-color: none;
	text-decoration: none;

  }
  
  header a h1 {
	background-color: blue;
	text-decoration: none;

  }

  .navigation{
	background-color: none;
	margin: -40px 0 -10px 0;
	width: 100%;
  }
  
  header nav {
	display: flex;
	justify-content: center;
	flex-flow: row wrap;


  }
  
  header nav ul {
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	padding: 0;
	flex-flow: row;
	font-family: 'Fjalla One';
	font-size: 1.3rem;
    background-color: white;
	width: 100%;
  }
  
  header nav ul li {
	background-color:none;
	list-style: none;
	padding: 15px;
	text-decoration: none;
  }
  
  header nav ul li a {
    background-color:none;
	text-decoration: none;
	color: #143642;
  }

  header nav ul li a:hover {
    background-color:none;
	text-decoration: none;
	color: #0F8B8D;
	font-weight: bold;
	text-transform: uppercase;
  }

  .who-am-i{
	background-color: rgb(20, 54, 66, 0.7); 
	padding: 20px 25px 20px 25px;
	color: white;
	margin: -20px 0 0 0;
	font-family: 'Inter';
	text-align: left;
  }
  
  #headshot{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	margin: 0 auto;
	margin-top: 15px;
  }


/***EXAMPLES OF MY WORK***/
  
section {

}

.projects{
	background-color: #151440; 
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
}


.project-item h3 {
	font-size: 1.25rem;
	margin: 15px 0 -10px 0;
	padding: 0 0 0 0;
	text-decoration: none;
	color:white;
	font-weight: bold;
}

.project-item span{
	color: #F23054;
	font-weight: none;
	text-transform: uppercase;
	font-size: 1rem;
}

.home p {
	padding: 10px;
	text-align: center;
	font-family: 'Inter';


}

.projects-title h2{
	background-color: #151440; 
	text-align: center;
	color: white;
	margin: 20px 0 0 0;
	text-transform: uppercase;
}

.project-item{
	background-color: #151440;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	height: auto;
}

.projects p{
	padding: 0 5px 0 5px;
	text-align: center;
	height: auto;
	width: 75%;
}

.image-holder{
	margin: 0;
	width: 75%;
	height: auto;
}

/**
#impact{
	background-image: url(../img/impact.PNG);
	background-position: center;
	background-size: cover;
}

#github{
	background-image: url(../img/repogallery.PNG);
	background-position: center;
	background-size: cover;
}

#word-game{
	background-image: url(../img/guesstheword.PNG);
	background-position: center;
	background-size: cover;
}

#potluck{
	background-image: url(../img/potluck.PNG);
	background-position: top center;
	background-size: cover;
}
**/

.text-container{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-items: center;
	/** background-color: rgb(128, 128, 128, 0.7); **/
	background-color: #151440;
	height: auto;
	margin: 0 auto;
	color: white;
}

.project-item a:hover{
	color:#F23054;
	font-weight: bold;
	text-transform: none;
	text-decoration: underline;
}

#github{
	margin-bottom: 25px;
}


/***LANGUAGE EXPERIENCE***/
  


.coding-languages{
	background-color: white;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	width: 100%;
	margin: 0 auto;
	}

.coding-languages-title h2{
	background-color:white; 
	width: 100%;
	text-align: center;
	color: #151440;
	font-size: 2rem;
	margin: 15px 0 0 0;
	text-transform: uppercase;
	}

.coding-languages-container {
	width: 100%;
}

.language-list{

	background-color:none; 
	list-style: none;
	padding: 0;
	color: #151440;
	font-weight: bold;
	text-align: center;
	width: 100%;
	line-height: 2.5rem;
	}

/***CONTACT FOOTER***/
  

.contact{
	background-color:#151440;
	width: 100%;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-items: center;
	color: white;

}

.contact-title{
	background-color:#151440; 
	width: 100%;
	text-align: center;
	color: white;
	text-transform: uppercase;
	

}

.contact h3{
	margin: 0 auto;
	padding: 8px 0 6px 0;
	color: white;

}

.contact p{
	margin: 0 auto;
	padding: 2px 0 10px 0;
	font-weight: bold;
	color: white;
}

.contact-email{
	width: 100%;
	text-align: center;
	margin: 0;
	color: white;


}

.contact-location{
	background-color:#151440;
	width: 100%;
	text-align: center;

}

.contact-socials{
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	align-items: center;
	background-color:#151440;
	width: 100%;
	text-align: center;
}

.contact-socials ul {
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 0;
	flex-flow: row;;
	width: 100%;
	margin: 0;
  }

.contact-socials li{
	list-style: none;
	margin: 0;
	padding: 0;
}

.contact-socials i{
	text-decoration: none;
	color: white;
	font-size: 2rem;
	margin: 0 10px 0 10px;
}

.contact-socials i:hover{
	color: #F2CA7E;
}


.copyright{
	justify-content: center;
	flex-flow: row wrap;
	align-items: center;
	background-color: #151440; 
	text-align: center;
	padding: 10px;
	width: 100%;

}

.copyright p {
	padding: 10px;
	color: white;
	font-weight: 100;

}
  

  
  /* ==========================================================================
	 Helper classes
	 ========================================================================== */
  
  /*
   * Hide visually and from screen readers
   */
  
  .hidden,
  [hidden] {
	display: none !important;
  }
  
  /*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */
  
  .sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	/* 1 */
  }
  
  /*
   * Extends the .sr-only class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */
  
  .sr-only.focusable:active,
  .sr-only.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	white-space: inherit;
	width: auto;
  }
  
  /*
   * Hide visually and from screen readers, but maintain layout
   */
  
  .invisible {
	visibility: hidden;
  }
  
  /*
   * Clearfix: contain floats
   *
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    `contenteditable` attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that receive the `clearfix` class.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  
  .clearfix::before,
  .clearfix::after {
	content: " ";
	display: table;
  }
  
  .clearfix::after {
	clear: both;
  }
  
  /* ==========================================================================
	 EXAMPLE Media Queries for Responsive Design.
	 These examples override the primary ('mobile first') styles.
	 Modify as content requires.
	 ========================================================================== */
  
  @media only screen and (min-width: 768px) {
  
  /***INTRODUCTION & NAVIGATION***/

	header {
		width: 100%;
		height: 900px;
	}

	.intro-header h1 {
		font-size: 4rem;
		margin-bottom: -15px;
	}

	#headshot{
		width: 50%;
	}

	#job{
		font-size: 3.2rem;
	}

	header nav ul {
		width: 100%;
	}

	.navigation a {
		font-size: 1.75rem;
	}

	.who-am-i{
		font-size: 1.15rem;
		padding: 0 100px 0 100px;
		text-align: center;
		width: 60%;
	}

/***EXAMPLES OF MY WORK***/

	.project-item{
		width: 100%;
		display: flex;
		justify-content: center;
		flex-flow: column wrap;
		align-items: center;
	}

	.projects-title h2{
		font-size: 2.5rem ;
	}

	.project-item h3 {
		font-size: 1.75rem;
	}

	.projects p{
		margin-top: 25px;
		font-size: 1.15rem;
		width: 60%;
	}

	.text-container p {
		padding: 0 175px 0 175px;

	}

	.image-holder{
		margin: 0;
		width: 65%;
		height: auto;
	}
	

/***LANGUAGE EXPERIENCE***/


	.coding-languages-title{
		font-size: 1.3rem;
		}

	.language-list{
		font-size: 1.20rem;
		}
		
	.coding-languages{
		background-size: cover;
	}

/***CONTACT FOOTER***/

	.contact-email, .contact-location, .contact-socials{
		width: 33%;
		display: flex;
		justify-content: center;
		flex-flow: column wrap;
		align-items: center;
	}


	
	.contact-title{
		font-size: 1.30rem;
	}

	.contact-email h3, .contact-location h3, .contact-socials h3{
		font-size: 1.50rem;
	}
	
	.contact p{
		font-size: 1rem;
	}
  
  }
  
  @media only screen and (min-width: 1200px) {
  
	/***INTRODUCTION & NAVIGATION***/

	header {
		width: 100%;
		height: 1200px;
	}

	.intro-header h1 {
		font-size: 6rem;
		margin-bottom: -15px;
	}

	#job{
		font-size: 5rem;
	}

	header nav ul {
		width: 100%;
	}

	.navigation a {
		font-size: 1.75rem;
	}

	.who-am-i{
		font-size: 1.5rem;
		padding: 0 200px 0 200px;
		text-align: center;
		width: 60%;
	}

/***EXAMPLES OF MY WORK***/

	.project-item{
		width: 100%;
		display: flex;
		justify-content: center;
		flex-flow: column wrap;
		align-items: center;
	}

	.text-container{
		display: flex;
		flex-flow: column wrap;
		width: 70%;
		margin: 0 auto;
		padding: 0 200px 0 200px;
	}

	.text-container p {
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		align-items: center;
		font-size: 1.25rem;
		padding: 0 200px 0 200px;
		margin-top: 0;
		width: 55%;
	}

	.projects-title h2 {
		margin: 20px 0 15px 0;

	}

	.project-item h3 {
		width: 100%;
		display: flex;
		justify-content: center;
		flex-flow: row wrap;
		align-items: center;
		margin: 15px 0 -15px 0;
		padding: 0;
		font-size: 2rem;
	}

	.image-holder{
		margin: 0 auto;
		width: 65%;
		height: auto;
	}

/***LANGUAGE EXPERIENCE***/

	.coding-languages-title{
		font-size: 1.75rem;
		}

	.language-list{
		font-size: 1.5rem;
		}

/***CONTACT FOOTER***/

	.contact-email, .contact-location, .contact-socials{
		width: 33%;
		display: flex;
		justify-content: center;
		flex-flow: column wrap;
		align-items: center;
	}

	.contact-socials i{
		font-size: 3rem;
		margin: 0 10px 10px 10px;
	}

	.contact-title{
		font-size: 1.75rem;
	}

	.contact-email h3, .contact-location h3, .contact-socials h3{
		font-size: 2rem;
	}
	
	.contact p{
		font-size: 1.25rem;
	}
  }
  
  
  /* ==========================================================================
	 Print styles.
	 Inlined to avoid the additional HTTP request:
	 https://www.phpied.com/delay-loading-your-print-css/
	 ========================================================================== */
  
  @media print {
	*,
	*::before,
	*::after {
	  background: #fff !important;
	  color: #000 !important;
	  /* Black prints faster */
	  box-shadow: none !important;
	  text-shadow: none !important;
	}
  
	a,
	a:visited {
	  text-decoration: underline;
	}
  
	a[href]::after {
	  content: " (" attr(href) ")";
	}
  
	abbr[title]::after {
	  content: " (" attr(title) ")";
	}
  
	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */
	a[href^="#"]::after,
	a[href^="javascript:"]::after {
	  content: "";
	}
  
	pre {
	  white-space: pre-wrap !important;
	}
  
	pre,
	blockquote {
	  border: 1px solid #999;
	  page-break-inside: avoid;
	}
  
	/*
	 * Printing Tables:
	 * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
	 */
	thead {
	  display: table-header-group;
	}
  
	tr,
	img {
	  page-break-inside: avoid;
	}
  
	p,
	h2,
	h3 {
	  orphans: 3;
	  widows: 3;
	}
  
	h2,
	h3 {
	  page-break-after: avoid;
	}
  }
  
  